
body{
    background-image: url('../img/ignasi_pattern_s.png');
    font-family: sans-serif;
    
}    

footer {
    background-color: #111;
    color: #fff;
    padding: 15px;

  
}
   
.error{
    color: red;
        
}

.btn{
    opacity: 0.7;
}

.btn:hover{
    opacity: 1;
}

a:hover{
    text-decoration: none;
    font-weight: 700;
}
/*
.form{
    background-color: #ddd;
    /*font-family: 'Comic Sans'; //hehe*/
    /*border: solid;
    border-radius: 10px;
    padding: 8px;
}
*/
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }